$smallerDevicesMaxWidth: 360px;
$maxWidth: 820px;
$minWidth: 821px;
$maxHeight: 600px;

.header {
  padding: 1rem 1rem 0.8rem; //top l/r bottom
  margin: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(10, 10, 10, .5);
  overflow: auto;
  font-family: "Roboto-Black", sans-serif;
}

.container-fluid {
  width: 100%;
  padding: 0rem;
}

// .title {
//   color: #000000;
//   font-size: 3rem;
//   text-decoration: none;
// }

.logo_box {
    width: 3rem;
    text-align: center;
    max-width: 50px;
    min-width: 50px;
    display: inline-block;
    vertical-align: top;
    float: left;
    padding-left: 0.5rem;
}

.nav-list {
    display: flex; //stack item l to r\
    list-style-type: none;
    float: right;
    align-self: center;
    margin: 0;
    padding-right: 0.8rem;
    padding-top: 0.3rem;
    align-items: center;
}

.nav-item {
    display: inline-block;
    color: #73737D;
    font-size: .9rem;
    font-weight: 700;
    text-decoration: none;
    margin-left: 1.5rem;
    color: white;
}

.nav-item:hover {
  color: #666666
}

.active-nav-item {
  color: #333333;
}
