$smallerDevicesMaxWidth: 360px;
$maxWidth: 820px;
$minWidth: 821px;
$maxHeight: 600px;

.header {
  padding: 1rem 1rem 1rem 0.8rem; //top l/r bottom
  margin: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(24, 29, 31, .4); //#181d1f;
  overflow: auto;
  // font-family: "Roboto-Black", sans-serif;
  font-family: "video", serif;
  font-weight: 400;
  font-style: normal;
}

.container-fluid {
  width: 100%;
  padding: 0rem;
}

// .title {
//   color: #000000;
//   font-size: 3rem;
//   text-decoration: none;
// }

.logo_box {
    width: 3rem;
    text-align: center;
    max-width: 50px;
    min-width: 50px;
    display: inline-block;
    vertical-align: top;
    float: left;
    padding-left: 1rem; //0.5rem;
    padding-top: 0.6rem;
}

.nav-list {
    display: flex; //stack item l to r\
    list-style-type: none;
    float: right;
    align-self: center;
    margin: 0;
    padding-right: 1rem; //1.8rem;
    padding-top: 0.6rem;
    align-items: center;
}

.nav-item {
    display: inline-block;
    color: #73737D;
    font-size: .9rem;
    font-weight: 700;
    text-decoration: none;
    margin-left: 1.5rem;
    color: white;
}

.resumebtn {
  margin-left: 1.5rem;
  margin-top: -0.7rem;
  border: 1px solid #5F9EA0;
  border-radius: 5px;
  background-color: transparent;
  height: 40px;
  width: 100px;
  color: #5F9EA0;
  font-size: 0.9rem;
  text-decoration: none;
  // box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.resumebtn:hover {
  background-color: rgba(95, 150, 160, 0.2);
}

.btnLink {
  text-decoration: none;
  color: #5F9EA0;
  font-family: "video", serif;
  font-weight: 700;
  font-style: normal;
}

.nav-item:hover {
  color: #5F9EA0
}

.active-nav-item {
  color: #333333;
}
